autopep8==1.5.6
bcrypt==3.2.0
bidict==0.21.2
click==7.1.2
dnspython==2.1.0
email-validator==1.1.2
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
Flask-SSLify==0.1.5
Flask-WTF==0.14.3
gunicorn==20.1.0
idna
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Pillow==8.2.0
psycopg2-binary==2.8.6
pycodestyle==2.7.0
pycparser==2.20
python-engineio==4.1.0
python-socketio==5.2.1
six==1.15.0
SQLAlchemy==1.4.11
toml==0.10.2
Werkzeug==1.0.1
WTForms==2.3.3
keras==2.10.0
nltk==3.6.6
certifi
chardet
requests==2.21.0
numpy==1.23.1
tensorflow-cpu==2.10.0
gensim==3.8.3
bnlp-toolkit
